.logo {
	width: 20rem;
	height: 20rem;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title_header {
	background: linear-gradient(35deg, rgb(67, 209, 162), rgb(207, 72, 227));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.txt_header {
	color: rgb(7, 37, 81);
	font-weight: bold;
}

section {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(76, 34, 200);
	border-radius: 5px;
	padding: 1rem;
}

main {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

ul {
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.img_main {
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	transition: transform 0.3s ease-in;
}

.img_hover:hover {
	transform: scale(1.5);
}

figure {
	overflow: hidden;
}

li {
	width: 8rem;
	height: 15rem;
}
