section {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(76, 34, 200);
	border-radius: 5px;
	padding: 1rem;
}

main {
	width: 100%;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list_Concept {
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
	flex-wrap: wrap;
}

.img_main {
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	transition: transform 0.3s ease-in;
}

.img_hover:hover {
	transform: scale(1.5);
}

figure {
	overflow: hidden;
}

.item_Concept {
	width: 8rem;
}

.txt_desc {
	color: white;
	font-family: sans-serif;
}

.txt_ex {
	color: rgb(202, 34, 248);
	margin-top: 2rem;
}

.btn {
	background: transparent;
	border: 2px rgb(44, 10, 44) solid;
	border-radius: 5px;
	padding: 6px;
	color: chocolate;
	font-weight: bold;
}

.btn_hover:hover{
	background-color: aqua;
}

.list_Dynamic{
	list-style-type: none;
	display: flex;
	margin-top: 1rem;
	gap: 5rem;
	
}

.btn_State{
	background-color: rgb(87, 7, 87);
	color: rgb(172, 172, 52);
	border-radius: 5px;
	padding: 5px;
	border: 1.5px rgb(33, 142, 131) solid;
}


.txt_Hello{
	/* margin: 50px; */
	color: aqua;
}

.state{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}

.bx_info-btn{
	background: linear-gradient(50deg, rgb(26, 185, 5), rgb(202, 253, 0));
	border-radius: 10px;
	border: 2px rgb(238, 187, 16) solid;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
	margin-top: 3rem;
	color: chocolate;
	font-weight: bolder;
}